body {
  font: 100% Georgia, "Times New Roman", Times, serif;
  line-height: 1.4;
  width: 70%;
  margin: 0 auto;
}

h1, h2, h3 {
  font-size: 2.4em;
  font-weight: normal;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
  color: #575451;
}

h2 {
  font-size: 1.4em;
}

/*a:visited {
  color:#687D8D;
}*/

/* styling a vertical menu */

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

li a {
  display: block;
  width: 8em;
  line-height: 2em;
  font-size: 1em;
  text-decoration: none;
  background: #d5973c;
  color: white;
  padding: .2em 0 .2em 1em;
  border-bottom: .125em solid white;
}

li a:hover {
  background: #87492F;
}

li:last-child a {
  border-bottom: none;
}




img {
  padding: 4px;
  border: 1px solid #021a40;
  background-color: #ff0;
}














