body {
  background-color: #ffffff;
}

#logo {
  padding-left: 101px;
}

.topmenu {
  position: absolute;
  margin-left: 396px;
  margin-top: -40px;
}

.topmenu2 {
  margin-left: -2px;
}

#topnews {
  color: black;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: bold;
  padding-right: 37px;
}

#topsport {
  color: black;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: bold;
  padding-right: 37px;
}

#topweather {
  color: black;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: bold;
  padding-right: 37px;
}

#topplayer {
  color: black;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: bold;
  padding-right: 37px;
}

#toptv {
  color: black;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: bold;
  padding-right: 37px;
}

#topradio {
  color: black;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: bold;
  padding-right: 37px;
}

#topcbbc {
  color: black;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: bold;
  padding-right: 37px;
}

#topmore {
  color: black;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: bold;
}

#vertical8 {
  width: 0px;
  height: 39px;
  border-left: 1px solid #ccc;
  display: inline-block;
  position: absolute;
  margin-left: -22px;
  margin-top: -13px;
}

#vertical9 {
  width: 0px;
  height: 39px;
  border-left: 1px solid #ccc;
  display: inline-block;
  position: absolute;
  margin-left: -22px;
  margin-top: -13px;
}

#vertical10 {
  width: 0px;
  height: 39px;
  border-left: 1px solid #ccc;
  display: inline-block;
  position: absolute;
  margin-left: -22px;
  margin-top: -13px;
}

#vertical11 {
  width: 0px;
  height: 39px;
  border-left: 1px solid #ccc;
  display: inline-block;
  position: absolute;
  margin-left: -22px;
  margin-top: -13px;
}

#vertical12 {
  width: 0px;
  height: 39px;
  border-left: 1px solid #ccc;
  display: inline-block;
  position: absolute;
  margin-left: -22px;
  margin-top: -13px;
}

#vertical13 {
  width: 0px;
  height: 39px;
  border-left: 1px solid #ccc;
  display: inline-block;
  position: absolute;
  margin-left: -22px;
  margin-top: -13px;
}

#vertical14 {
  width: 0px;
  height: 39px;
  border-left: 1px solid #ccc;
  display: inline-block;
  position: absolute;
  margin-left: -22px;
  margin-top: -13px;
}

#vertical15 {
  width: 0px;
  height: 39px;
  border-left: 1px solid #ccc;
  display: inline-block;
  position: absolute;
  margin-left: 950px;
  margin-top: -8px;
}

.navbar {
  width: 100%;
  height: 80px;
  background-color: #ffdf43;
  margin-top: 4px;
  border-bottom: 1px solid #c6af36;
  border-top: 1px solid #c6af36;
}

.navbar li {
  list-style-type: none;
  padding-left: 96px;
  padding-top: 21px;
  font-size: 40px;
  font-family: helvetica;
  font-weight: normal;
}

.subnavbar {
  width: 100%;
  height: 40px;
  background-color: #ffdf43;
  margin-top: -16px;
}

 .subnavbar li {
  list-style-type: none;
  display: inline;
  padding: 3px;
}

.subnavbar ul {
  padding-left: 95px;
  padding-top: 10px;
}

#home {
  border-right: 1px solid #c6af36;
}

#footy {
  border-right: 1px solid #c6af36;
}

#formula {
  border-right: 1px solid #c6af36;
}

#cricket {
  border-right: 1px solid #c6af36;
}

#rugbyu {
  border-right: 1px solid #c6af36;
}

#rugbyl {
  border-right: 1px solid #c6af36;
}

#golf {
  border-right: 1px solid #c6af36;
}

#tennis {
  border-right: 1px solid #c6af36;
}

#mysport {
  border-left: 1px solid #c6af36;
  margin-left: 550px;

}

#allsport {
  border-left: 1px solid #c6af36;
}

#mainimage {
  margin-left: 98px;
  margin-top: 18px;
}

button {
  position: absolute;
  background: #1169f6;
  color: #fff;
  font-size: 18px;
  border: none;
  margin-top: 30px;
  margin-left: 14px;
}

#headline1 {
  position: absolute;
  margin-left: 622px;
  margin-top: -251px;
}

#headline2 {
  position: absolute;
  margin-left: 569px;
  margin-top: -217px;
}

#headline3 {
  position: absolute;
  margin-left: 570px;
  margin-top: -188px;
}

#headline4 {
  position: absolute;
  margin-left: 571px;
  margin-top: -160px;
}

#headline1 a {
  text-decoration: none;
  color: black;
  font-family:sans-serif;
  font-size: 24px;
  font-weight:bold;
}

#headline2 a {
  text-decoration: none;
  color: black;
  font-family:sans-serif;
  font-size: 24px;
  font-weight:bold;
}

#headline3 a {
  text-decoration: none;
  color: black;
  font-family:sans-serif;
  font-size: 24px;
  font-weight:bold;
}

#headline4 a {
  text-decoration: none;
  color: black;
  font-family:sans-serif;
  font-size: 24px;
  font-weight:bold;
}

#ronnie {
  position: absolute;
  margin-left: 269px;
  margin-top: 19px;
}

#gossip {
  position: absolute;
  margin-left: 536px;
  margin-top: 19px;
}

.cricket {
  margin-left: 573px;
  margin-top: -135px;
  font-family: sans-serif;
  font-size: 14.5px;
  font-weight:normal;
  color: gray;
}

#singh {
  margin-top: 12px;
}

#england {
  margin-top: -13px;
}

#second {
  margin-top: -13px;
}

#cuttack {
  margin-top: -13px;
}

#smallbtn {
  margin-left: 826px;
  margin-top: -89px;
  font-size: 10px;
  font-weight: bold;
}

#snook1 {
  position: absolute;
  color: black;
  font-family:sans-serif;
  font-size: 16px;
  font-weight:bold;
  margin-left: 866px;
  margin-top: -92px;
  text-decoration: none;
}

#snook2 {
  position: absolute;
  color: black;
  font-family: sans-serif;
  font-weight: bold;
  margin-left: 825px;
  margin-top: -71px;
  font-size: 18px;
  text-decoration: none;
}

#gossipline {
  position: absolute;
  margin-left: 1094px;
  margin-top: -53px;
  font-size: 16px;
  font-weight: bold;
  font-family: sans-serif;
}

#hr1 {
  margin-left: 1093px;
  width: 20%;
  border: 0.5;
  border-top: 1px solid #ccc;
  margin-top: -3px;
  position: absolute;
}

#facup {
  position: absolute;
  margin-left: 1093px;
  margin-top: 4px;
  font-family: sans-serif;
  font-size: 16px;
}

#hr2 {
  width: 20%;
  border: 0.5;
  border-top: 1px solid #ccc;
  margin-left: 1093px;
  margin-top: 28px;
  position: absolute;
}

#livelogo1 {
  position: absolute;
  margin-top: 11px;
  margin-left: 570px;
}

#livelogo2 {
  position: absolute;
  margin-top: 11px;
  margin-left: 823px;
}

#green1 {
  position: absolute;
  margin-left: 631px;
  margin-top: 14px;
  font-size: 13px;
  font-family: sans-serif;
  color: green;
}

#green2 {
  position: absolute;
  font-size: 13px;
  font-family: sans-serif;
  color: green;
  margin-top: 14px;
  margin-left: 888px;
}

#novak {
  margin-left: 97px;
  margin-top: 1px;
}

#koeman {
  margin-left: 10px;
  margin-top: 48px;
}

#konta {
  margin-left: 15px;
}

#gym {
  margin-left: 13px;
}

#vertical {
  width: 0px;
  height: 248px;
  position:absolute;
  margin-left:511px;
  margin-top: 19px;
  display: inline-block;
  border-left: 1px solid #ccc;
}

#bottom1 {
  position: absolute;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: bold;
  margin-left: 96px;
  margin-top: 3px;
}

#bottom2 {
  position: absolute;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: bold;
  margin-left: 96px;
  margin-top: 25px;
}

#bottom3 {
  font-size: 16px;
  font-family: sans-serif;
  font-weight: bold;
  margin-left: 96px;
  margin-top: 47px;
}

#smallbtn2 {
  position:absolute;
  font-size: 10px;
  font-weight: bold;
  margin-left: 335px;
  margin-top: -79px;
}

#bottom4 {
  position: absolute;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: bold;
  margin-left: 371px;
  margin-top: -79px;
}

#bottom5 {
  position: absolute;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 16px;
  margin-left: 333px;
  margin-top: -56px;
}

#bottom6 {
  position: absolute;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 16px;
  margin-left: 576px;
  margin-top: -79px;
}

#bottom7 {
  position: absolute;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 16px;
  margin-left: 576px;
  margin-top: -56px;
}

#bottom8 {
  position: absolute;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 16px;
  margin-left: 821px;
  margin-top: -79px;
}

#bottom9 {
  position: absolute;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 16px;
  margin-left: 821px;
  margin-top: -56px;
}

#thirty-six {
  margin-left: 94px;
}

#smalltennis {
  position:absolute;
  margin-top: -22px;
  margin-left: 152px;
  font-size: 13px;
  font-family: sans-serif;
  color: green;
}

#ninety-one {
  margin-left: 59px;
}

#livelogo3 {
  position: absolute;
  margin-top: 1px;
  margin-left: 80px;
}

#vertical2 {
  width: 0px;
  height: 12px;
  border-left: 1px solid #ccc;
  display: inline-block;
  margin-left: -1px;
  margin-top: 4px;
  position: absolute;
}

#vertical3 {
  width: 0px;
  height: 12px;
  border-left: 1px solid #ccc;
  display: inline-block;
  margin-left: 51px;
  margin-top: 4px;
  position: absolute;
}

#thirty-five {
  margin-left: 322px;
}

#vertical4 {
  width: 0px;
  height: 12px;
  border-left: 1px solid #ccc;
  display: inline-block;
  margin-left: 5px;
  margin-top: 4px;
  position: absolute;
}

#smalltennis2 {
   position: absolute;
   margin-left: 640px;
   margin-top: -22px;
   font-size: 13px;
   font-family: sans-serif;
   color: green;
}

#twohours {
  position: absolute;
  margin-left: 195px;
}

#vertical5 {
  width: 0px;
  height: 12px;
  border-left: 1px solid #ccc;
  display: inline-block;
  margin-left: 241px;
  margin-top: 4px;
  position: absolute;
}

#diving {
  position: absolute;
  margin-left: 877px;
  margin-top: -22px;
  font-family: sans-serif;
  font-size: 13px;
  color: green;
}

#hr3 {
  width: 66%;
  border-top: 1px solid #ccc;
  margin-right: 385px;
  border: 0.5;
}

#vertical6 {
  width: 0px;
  height: 39px;
  border-left: 1px solid #ccc;
  display: inline-block;
  position: absolute;
  margin-left: 15px;
  margin-top: -8px;
}

#signin {
  margin-left: 31px;
  margin-top: -1px;
  position: absolute;
}

#signtext {
  margin-left: 249px;
  margin-top: -24px;
  position: absolute;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: bold;
}

#zigzag {
  position: absolute;
  margin-left: 173px;
  margin-top: -7px;
}

#bell {
  position: absolute;
  margin-left: 191px;
  margin-top: -2px;
}

#vertical7 {
  width: 0px;
  height: 39px;
  border-left: 1px solid #ccc;
  display: inline-block;
  position: absolute;
  margin-left: 227px;
  margin-top: -8px;
}
