body {
  background-color: #ffffff;
}

#logo {
  padding-left: 101px;
}

.navbar {
  width: 100%;
  height: 80px;
  background-color: #ffdf43;
  margin-top: 4px;
  border-bottom: 1px solid #c6af36;
  border-top: 1px solid #c6af36;
}

.navbar li {
  list-style-type: none;
  padding-left: 96px;
  padding-top: 13px;
  font-size: 50px;
}

.subnavbar {
  width: 100%;
  height: 40px;
  background-color: #ffdf43;
  margin-top: -16px;
}

 .subnavbar li {
  list-style-type: none;
  display: inline;
  padding: 3px;
}

.subnavbar ul {
  padding-left: 95px;
  padding-top: 10px;
}

#home {
  border-right: 1px solid #c6af36;
}

#footy {
  border-right: 1px solid #c6af36;
}

#formula {
  border-right: 1px solid #c6af36;
}

#cricket {
  border-right: 1px solid #c6af36;
}

#rugbyu {
  border-right: 1px solid #c6af36;
}

#rugbyl {
  border-right: 1px solid #c6af36;
}

#golf {
  border-right: 1px solid #c6af36;
}

#tennis {
  border-right: 1px solid #c6af36;
}

#mysport {
  border-left: 1px solid #c6af36;
  margin-left: 550px;

}

#allsport {
  border-left: 1px solid #c6af36;
}

#mainimage {
  margin-left: 98px;
  margin-top: 18px;
}

button {
  background: #1169f6;
  color: #fff;
  font-size: 18px;
  border: none;
}
