
* {
  margin: 0;
  padding: 0;
  border: 0;
}

h1 {
  text-align: center;
  font-size: 575%;
  color: #4a4444;
  text-transform: uppercase;
  letter-spacing: 1%;
  margin: 45% 0;
}

h2 {
  text-align: center;
  font-size: 275%;
  color: #e5e5e5;
  text-transform: uppercase;
  letter-spacing: 1%;
}

/* start parallax */

.parallax {
  background: url("pisa.jpg") repeat fixed 100%;
  background-size: cover;
}

.parallax-inner {
  padding-top: 25%;
  padding-bottom: 15%;
}

/* end parallax */
