<!DOCTYPE html>
<html>
<head>
  <title>Layout practising</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

    <h1>The Evolution of the Bicycle</h1>

    <!-- <blockquote>"Life is like riding a bicycle. To keep your balance you must keep moving." - 
    Albert Einstein</blockquote>
    <p class="example">In 1817 Baron von Drais invented a walking machine that would help him 
    get around the royal gardens faster... </p> -->

    <div class="column1of2">
      <h3>The First Bicycle</h3>

      <p>The Battle of Naseby was a decisive engagement of the English Civil War, fought on 14 June 1645 between the main Royalist army of King Charles I and the Parliamentarian New Model Army, commanded by Sir Thomas Fairfax and Oliver Cromwell. It was fought near the village of Naseby in Northamptonshire. After a disappointing performance by the Parliamentarian army at the Second Battle of Newbury at the tail end of the 1644 campaign season that failed to inflict a decisive defeat on the Royalists, Oliver Cromwell worked to push the Self-denying Ordinance through Parliament, intent on re-forming Parliament's forces into a more effective, centralised force. This political campaign was successful, forming the New Model Army.</p>
    </div>  

    <div class="column2of2">
      <h3>Bicycle Timeline</h3>
    </div>  
      <p>After the Royalists stormed the Parliamentarian stronghold of Leicester, Fairfax was ordered to lift his siege of Oxford, the Royalist capital, and engage the King's main army. Eager to bring battle to the Royalists, Fairfax set off in pursuit of the Royalist army, which was heading to recover the north. The King, faced with retreating north with Fairfax close behind, or giving battle, decided to give battle, fearing a loss of morale if his army continued retreating. After hard fighting, the Parliamentarian army all but destroyed the Royalist force, which suffered 6,000 casualties out of 7,400 effectives. Charles lost the bulk of his veteran infantry, officers, all of his artillery, his personal baggage and many arms, ensuring the Royalists would never again field an army of comparable quality.</p>  

      <p>The French king Charles VI suffered bouts of insanity through much of his reign. Henry V had invaded France in 1415 and delivered a crushing defeat to the French at Agincourt. In 1418, John the Fearless, Duke of Burgundy, whose political and economic interests favoured an agreement with the English, occupied Paris. One year later he was murdered by his Armagnac opponents on the bridge at Montereau. His son Philip the Good formed an alliance with the English and negotiated the treaty with the English King.</p>

      <p>There had been earlier rumours that the Queen had an affair with her brother-in-law Louis, Duke of Orléans. These rumours were gladly taken up by Louis' main rival, John the Fearless, who had had the Duke of Orléans assassinated in 1407. The Burgundians promoted the rumor that Charles was a bastard. However, such a statement could not possibly be registered in a treaty without offending the honor of the King of France. Thus, the disinheritance of the dauphin, with respect to the French throne, was based on his "enormous crimes," as he was accused of having ordered the assassination of John the Fearless.</p>

      <p>Charles' disinheritance received further legal sanction after he declared himself regent for Charles VI in rivalry to the regency declared by Henry V. The Dauphin was summoned to a lit-de justice (legal hearing) in 1420 on charges of lèse-majesté. When he failed to appear, a Parisian court in 1421 found Charles the Dauphin guilty of treason and sentenced him to disinheritance and banishment from the Kingdom of France, losing all privileges to land and titles.</p>

      <p>The French king Charles VI suffered bouts of insanity through much of his reign. Henry V had invaded France in 1415 and delivered a crushing defeat to the French at Agincourt. In 1418, John the Fearless, Duke of Burgundy, whose political and economic interests favoured an agreement with the English, occupied Paris. One year later he was murdered by his Armagnac opponents on the bridge at Montereau. His son Philip the Good formed an alliance with the English and negotiated the treaty with the English King.</p>

      <p>There had been earlier rumours that the Queen had an affair with her brother-in-law Louis, Duke of Orléans. These rumours were gladly taken up by Louis' main rival, John the Fearless, who had had the Duke of Orléans assassinated in 1407. The Burgundians promoted the rumor that Charles was a bastard. However, such a statement could not possibly be registered in a treaty without offending the honor of the King of France. Thus, the disinheritance of the dauphin, with respect to the French throne, was based on his "enormous crimes," as he was accused of having ordered the assassination of John the Fearless.</p>

      <p>Charles' disinheritance received further legal sanction after he declared himself regent for Charles VI in rivalry to the regency declared by Henry V. The Dauphin was summoned to a lit-de justice (legal hearing) in 1420 on charges of lèse-majesté. When he failed to appear, a Parisian court in 1421 found Charles the Dauphin guilty of treason and sentenced him to disinheritance and banishment from the Kingdom of France, losing all privileges to land and titles.</p>

      <p>The French king Charles VI suffered bouts of insanity through much of his reign. Henry V had invaded France in 1415 and delivered a crushing defeat to the French at Agincourt. In 1418, John the Fearless, Duke of Burgundy, whose political and economic interests favoured an agreement with the English, occupied Paris. One year later he was murdered by his Armagnac opponents on the bridge at Montereau. His son Philip the Good formed an alliance with the English and negotiated the treaty with the English King.</p>

      <p>There had been earlier rumours that the Queen had an affair with her brother-in-law Louis, Duke of Orléans. These rumours were gladly taken up by Louis' main rival, John the Fearless, who had had the Duke of Orléans assassinated in 1407. The Burgundians promoted the rumor that Charles was a bastard. However, such a statement could not possibly be registered in a treaty without offending the honor of the King of France. Thus, the disinheritance of the dauphin, with respect to the French throne, was based on his "enormous crimes," as he was accused of having ordered the assassination of John the Fearless.</p>

      <p>Charles' disinheritance received further legal sanction after he declared himself regent for Charles VI in rivalry to the regency declared by Henry V. The Dauphin was summoned to a lit-de justice (legal hearing) in 1420 on charges of lèse-majesté. When he failed to appear, a Parisian court in 1421 found Charles the Dauphin guilty of treason and sentenced him to disinheritance and banishment from the Kingdom of France, losing all privileges to land and titles.</p>


</body>
</html>