<!DOCTYPE html>
<html>
<head>
  <title>Layout practising</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

    <h1 class="example">The Evolution of the Bicycle</h1>
    <p class="example">In 1817 Baron von Drais invented a walking machine that would help him 
    get around the royal gardens faster... </p>

    <p class="example">The Battle of Naseby was a decisive engagement of the English Civil War, fought on 14 June 1645 between the main Royalist army of King Charles I and the Parliamentarian New Model Army, commanded by Sir Thomas Fairfax and Oliver Cromwell. It was fought near the village of Naseby in Northamptonshire. After a disappointing performance by the Parliamentarian army at the Second Battle of Newbury at the tail end of the 1644 campaign season that failed to inflict a decisive defeat on the Royalists, Oliver Cromwell worked to push the Self-denying Ordinance through Parliament, intent on re-forming Parliament's forces into a more effective, centralised force. This political campaign was successful, forming the New Model Army.</p>

    <p class="example">After the Royalists stormed the Parliamentarian stronghold of Leicester, Fairfax was ordered to lift his siege of Oxford, the Royalist capital, and engage the King's main army. Eager to bring battle to the Royalists, Fairfax set off in pursuit of the Royalist army, which was heading to recover the north. The King, faced with retreating north with Fairfax close behind, or giving battle, decided to give battle, fearing a loss of morale if his army continued retreating. After hard fighting, the Parliamentarian army all but destroyed the Royalist force, which suffered 6,000 casualties out of 7,400 effectives. Charles lost the bulk of his veteran infantry, officers, all of his artillery, his personal baggage and many arms, ensuring the Royalists would never again field an army of comparable quality.</p>




</body>
</html>