html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    font-size: 16px;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}






/* Normal CSS */

.wrapper {
  width: 960px;
  margin: 0 auto;
}

nav {
  max-width: 100%;
  background-color: #3b5998;
  padding: 2%;
  position: relative;
}

.input-head {
  float: right;
  padding-top: 1%;
}

#logo {
  color: #fff;
  font-size: 2.4rem;
  display: inline;
  font-family: lucida Grande, Tahoma;
}

main {
  background-color: #e0e4ef;
}

.column1 {
  width: 60%;
  float: left;
}

.column2 {
  width: 40%;
  float: right;
}

#email-txt {
  color: #fff;
  font-family: lucida Grande, Tahoma;
  font-size: 0.7rem;
  position: absolute;
  margin-top: -1%;
}

#password-txt {
  color: #fff;
  font-family: lucida Grande, Tahoma;
  font-size: 0.7rem;
  position: absolute;
  margin-top: -1%;
}

#forgotten-txt {
  color: #8c9bc3;
  font-family: lucida Grande, Tahoma;
  font-size: 0.7rem;
  position: absolute;
  margin-right: 2%;
  margin-top: 1.7%;
}

#log {
  background: #365899;
  color: #fff;
  font-size: 0.7rem;
  font-family: lucida Grande, Tahoma;
  border: 1px solid #29487d;
  margin-left: 10px;
}

#phrase1 {
  font-family: lucida Grande, Tahoma;
  color: #0e385f;
  font-weight: 600;
  font-size: 1.2rem;
  padding-top: 8%;
  padding-bottom: 2%;
}

#phrase2 {
  font-family: lucida Grande, Tahoma;
  color: #0e385f;
  font-weight: 600;
  font-size: 1.2rem;
  padding-bottom: 2%;
}

#account-info1 {
  padding-top: 8%;
  font-size: 2.2rem;
  font-family: lucida Grande, Tahoma;
  font-weight:600;
  color: #333333;
}

#account-info2 {
  padding-top: 4%;
  font-family: lucida Grande, Tahoma;
  font-weight: 100;
  color: #333333;
  font-size: 1.2rem;
}

#bday {
  margin-top: 4%;
  font-family: lucida Grande, Tahoma;
  color: #333333;
}

/* inputs */

#name-btn {
  width: 180px;
  height: 30px;
  margin-top: 4%;
  border-radius: 4px;
}

#surname-btn {
  width: 180px;
  height: 30px;
  margin-top: 4%;
  border-radius: 4px;
}

#contact-btn {
  width: 370px;
  height: 30px;
  margin-top: 4%;
  border-radius: 4px;
}

#password-btn {
  width: 370px;
  height: 30px;
  margin-top: 4%;
  border-radius: 4px;
}

/* Select Boxes */
.select-btns {
  margin-top: 4%;
}

.birth-info {
  float: right;
  margin-right: 15%;
  margin-top: -5%;
}

.birth-info:after {
  display: block;
  content: "";
  clear: both;
}

#birth1 {
  font-size: 0.7rem;
  color: #3b5998;
}

#birth2 {
  font-size: 0.7rem;
  color: #3b5998;
}

/* Radio buttons */

.radio {
  margin-top: 6%;
  font-family: lucida Grande, Tahoma;
  font-weight: 100;
  color: #333333;
  font-size: 1.2rem;
}

#terms {
  margin-top: 4%;
}

.term {
  font-size: 0.6rem;
  padding: 1px;
  font-family: lucida Grande, Tahoma;
  font-weight: 100;
}

span {
  font-size: 0.6rem;
  color: #3b5998;
  font-family: lucida Grande, Tahoma;
  font-weight: 100;
}

button {
  margin-top: 4%;
}

.final-info {
  margin-top: 9%;
}

#final-sentence {
  font-size: 0.8rem;
  font-family: lucida Grande, Tahoma;
  font-weight: 100;
  color: #333333;
}

#page {
  font-size: 0.8rem;
  font-family: lucida Grande, Tahoma;
  font-weight: 100;
  color: #3b5998;
}
